.navbar {
    justify-content: center;
}

body {
    margin: 0px; 
    background-image: url('cityscape.jpg');   
    background-repeat: no-repeat;
}

.container {
    margin-top: 20px;
}

.row {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    padding: 0;
}

.card-body {
    padding: 0 0 20px 0;
}

#input-value {
    margin: 20px;
}

.input-icons i { 
    position: absolute;
    color: dodgerblue;
} 
  
.input-icons {
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px 10px 10px 40px; 
    text-align: center;
}

.daterange { 
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-label {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.form-check {
    position: relative;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}
